<div class="indicators-container">

  <header>
    <h2>Historial de Signos Vitales</h2>
    <p>Registro clínico del paciente #{{ currentPatientId }}</p>
  </header>

  <div class="card-form">
    <h3>Nuevo Registro</h3>
    <form [formGroup]="indicatorForm" (ngSubmit)="onSubmit()" class="inline-form">

      <div class="form-group">
        <label>Indicador</label>
        <select formControlName="type">
          <option value="" disabled>Seleccione...</option>
          <option *ngFor="let t of indicatorTypes" [value]="t.value">
            {{ t.label }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Valor</label>
        <input type="number" formControlName="value" placeholder="0.0">
      </div>

      <div class="form-group short">
        <label>Unidad</label>
        <input type="text" formControlName="unit" readonly class="readonly-input">
      </div>

      <button type="submit" [disabled]="indicatorForm.invalid" class="btn-save">
        Guardar
      </button>
    </form>
  </div>

  <hr>

  <div class="table-responsive">
    <table class="clinical-table">
      <thead>
      <tr>
        <th>Fecha / Hora</th>
        <th>Tipo de Medición</th>
        <th>Valor</th>
        <th>Estado</th> </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of indicators">
        <td>{{ item.timestamp | date:'dd/MM/yyyy HH:mm' }}</td>
        <td class="fw-bold">{{ getTypeLabel(item.type) }}</td>
        <td>
          <span class="value-badge">{{ item.value }} {{ item.unit }}</span>
        </td>
        <td>
            <span class="status-dot"
                  [ngClass]="{'alert': item.type === 'HEART_RATE' && item.value > 100,
                              'normal': item.type === 'HEART_RATE' && item.value <= 100}">
            </span>
        </td>
      </tr>
      <tr *ngIf="indicators.length === 0 && !loading">
        <td colspan="4" class="text-center">No hay registros médicos aún.</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
